<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HtmlDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E415D13E1E53F7FE0097AB72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E415D15A1E53F7FE0097AB72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E415D1651E53F7FE0097AB72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
